name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: echo "date=$(date -u '+%Y%m%d')" >> $GITHUB_ENV
        shell: bash

      - name: Cache Buildozer global directory
        uses: actions/cache@v4
        with:
          path: .buildozer_global
          key: buildozer-global-${{ hashFiles('buildozer.spec') }}

      - uses: actions/cache@v4
        with:
          path: .buildozer
          key: ${{ runner.os }}-${{ env.date }}-${{ hashFiles('buildozer.spec') }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip build-essential git python3-dev \
            libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
            libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev unzip zip \
            libltdl-dev libffi-dev libssl-dev autoconf automake libtool pkg-config autoconf-archive

      - name: Install Buildozer and Dependencies
        run: |
          pip3 install --user --upgrade git+https://github.com/kivy/buildozer.git@master
          pip3 install --user --upgrade cython==0.29.33 virtualenv python-for-android

      - name: Clean
        run: |
          rm -rf .buildozer bin

      - name: Build APK
        run: |
          buildozer -v android debug  # بدون yes | لتجنب broken pipe

      - name: Fix Permissions if Needed  # إضافي لأي مشاكل chown
        if: failure()  # شغل فقط إذا فشل البناء
        run: sudo chown -R $USER:$USER .buildozer bin

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SmartSRS-App
          path: bin/*.apk
